<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DatabaseName" value="mslearn"/>
    <add key="CollectionName" value="Orders"/>
    
    <add key="CollectionThroughput" value="400"/>
    <add key="ShouldCleanupOnStart" value="false"/>
    <add key="ShouldCleanupOnFinish" value="false"/>
    
    <add key="DegreeOfParallelism" value="-1"/>
    <add key="Operation" value="InsertDocument"/>
        
    <add key="NumberOfOperations" value="1"/>

    <add key="CollectionPartitionKey" value="/Item/id"/>
  </appSettings>
 </configuration>